/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (max-width:1366px){
	.ulockd-overlayer-l2{top: 71%;}
 }
/*  (min-width:1200px)+++ */
@media only screen and (min-width:1200px){
	
 }
/* (min-width:992px) (max-width:1199px) */
@media only screen and (max-width:1199px){
	.ulockd-main-logo2 > img {margin-top: 0;}
	nav.navbar.bootsnav.menu-style1 ul.nav > li > a {padding: 30px 8px;}
	.ulockd-quote-btn a {padding: 10px 30px;}
	nav.navbar.bootsnav .navbar-toggle {background-color: transparent; color: #fff;}
	nav.navbar.menu-style1 {background-color: transparent;}
	nav.navbar.bootsnav.menu-style2 {background-color: transparent;}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {color: #fff;}
	.ulockd-ohour-info.style2 {margin-bottom: 15px;}
	.ulockd-blog-post  {margin-bottom: 80px;}
	.welcm-ht::before{display: none;}
	.social-linked::before {display: none;}
	.welcm-ht{text-align: center !important;}
	.social-linked {float: none !important; margin-bottom: 10px; text-align: center;}
	/* home responsibe style Start*/
	
	.cd-slider-nav { width: 100%;}
	/* home slider end */
	/* home responsibe style 2 Start*/
	.ulockd-main-slider2 .caption{padding: 8%;}
	/* home slider end */
	.ulockd-srvc-column-two {margin-top: 0;}
	.ulockd-srvc-column {margin-bottom: 50px !important;}
	.ulockd-welcome-one {margin-top: 50px;}
	.ulockd-divider1:before {width: 70%;}
	.ulockd-frst-divider::after {display: none;}
	.posted-date {bottom: 0;left: inherit;right: 5% !important;width: 20%;}
	.bp-details {padding: 15px 40px;}
	.ulockd-blog-slider .owl-stage-outer {padding-bottom: 0;}
	.about-box {padding: 50px;margin-bottom: 40px;}
	.about-box2 {margin-bottom: 40px;}
	.ulockd-pad395 {padding-left: 15px;padding-right: 15px;}
	.masonry-gallery.grid-four-item .isotope-item{width: 33.33%;}
    .ulockd-service-box {margin-top: 0;}
    .ulockd-srvc-column .ulockd-srv-icon {float: none !important;display: inline;}
    .ulockd-srvc-details{padding-left: 0%;}
    .ulockd-srvc-details.style-right{padding-left: 0%;padding-right: 0%;}
    .ulockd-tm-details{padding: 15px 18px;}
    .ulockd-team-two-mdetails {bottom: -67%;}
	.ulockd-team-member{margin-bottom: 50px; text-align: center;}
	.flip-container .flipper .back {padding: 5px 15px;}
	.ulockd-testimonials {margin-bottom: 60px;}
    .ulockd-overlayer {top: 55%;}
	.ulockd-overlayer-l2{top: 60%;}
	.social-linked li {margin-bottom: 10px;}
	.ulockd-pricing-table {margin-bottom: 80px;}
	.ulockd-pricing-table:hover { transform: scale(1.05)}
	.ulockd-padd-md-30 {padding-right: 0;}
	.ulockd-quote-btn {right: 11%;}
	.ulockd-shop-item {margin-bottom: 50px;}
	.ulockd-ffact-one {margin-bottom: 50px;}
	.ulockd-srvc-details {margin-top: 25px;}
}
/* (min-width:768px) (max-width:991px) */
@media only screen and (max-width:991px){
	.ulockd-divider1:before {
	    -webkit-transform: skewX(0deg);
	    -moz-transform:skewX(0deg);
	    -o-transform:skewX(0deg);
	    left: 0;
		width: 100%;
	    transform:skewX(0deg);
	}
	.posted-date {width: 30%;}
	.ulockd-srvc-column-two {margin-bottom: 30px;}
	.ulockd-srvcs-column{margin-bottom: 50px !important;}
	.ulockd-about2-details {margin-bottom: 40px;}
	.ulockd-ffact{margin-bottom: 60px;}
	.ulockd-testi-grid{margin-bottom: 100px;}
	.ulockd-tm-details{bottom: -21%;}
	.ulockd-partner-thumb{margin-bottom: 30px;}
	.ulockd-srvcs-column{margin-bottom: 50px;}
	.welcm-ht {margin-bottom: 15px;}
	.welcm-ht-two {text-align: center;}
	.ulockd-login-form {margin-bottom: 25px;}
	.social-linked-two{float: none !important;margin-bottom: 10px;text-align: center;}
	.ulockd-main-logo > img, .ulockd-main-logo2 > img {margin-top: 15px;}
	/* Home responsibe style Start*/
	/* home slider end */
	/* Home responsibe style Start*/
	.ulockd-main-slider2 .caption{padding: 8%;}
	.ulockd-main-slider2 .ulockd-slider-text2{font-size: 36px;line-height: 48px;}
	.ulockd-main-slider2 .ulockd-slider-text3{margin-top: 10px;}
	/* home slider end */
	/* Navbar responsibe style Start*/
	.navbar-brand .logo {height: 37px;margin-top: 0px;}
	nav.navbar.bootsnav.menu-style1 .navbar-toggle{background-color: transparent;color: #fff;}
	nav.navbar.bootsnav .navbar-header.ulockd-ltwo .navbar-toggle{background-color: transparent;color: #fff;}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a{color: #fff;font-family: 'Montserrat', sans-serif;}
	.navbar.bootsnav .nav.navbar-nav .dropdown li{padding: 10px 15px;}
	.navbar.bootsnav .nav.navbar-nav .dropdown li:hover a {color: #fff;padding-left: 15px;}
	/* Navbar responsibe style End*/
	.ulockd-contact-info .ulockd-info {padding-right: 36%;}
	.ulockd-testimonials{margin-top: 50px;}
    .masonry-gallery.grid-four-item .isotope-item{width: 50%;}
    /* Coming Soon Page */
    .ulockd-flip-clock .clock{padding-left: 0;}
	.ulockd-overlayer{top: 45%;}
	.ulockd-service-box {margin-bottom: 40px;}
	.ulockd-gallery-thumb.style2 .overlayer .ulockd-overlayer {top: 45%;}	
	.ulockd-ffact-two {border-bottom: transparent;margin-bottom: 50px;}
	.ulockd-team-two-member {margin-bottom: 50px;}
	.ulockd-team-two-mdetails {bottom: -42%;}
	.ulockd-pricing-table:hover {	    
		transform: scale(1);
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -o-transform: scale(1);
	    -ms-transform: scale(1);
	}
	.ulockd-partner.one::before {background-color: transparent;}
	.tob img {display: none;}
	.ulockd-mrgn650 {margin: 0;}
	.ulockd-recent-project1 .overlay {padding-top: 8%;}
	.ulockd-booking-form {padding: 30px;}
	.ulockd-about-box1 {margin-bottom: 50px;}

}
@media only screen and (max-width:800px){
}
/* (min-width:480px) (max-width:767px) */
@media only screen and (max-width:767px){
	/* Hero Slider Nav */
	  .cd-slider-nav {
	    width: 100%;
	  }
	/* Navbar Style*/
	.navbar.bootsnav .dropdown li{padding: 10px 15px;}
	.navbar.bootsnav .dropdown li:hover > a {padding-left: 15px;}
	.navbar.bootsnav .dropdown li > a{color: #fff; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
	/* Navbar End*/
	.ulockd-contact-info {text-align: center !important;}
	.ulockd-contact-info .ulockd-info{padding: 0;}
	.ulockd-contact-info .ulockd-icon{display: table;float: none;margin: 0 auto;}
	.ulockd-ohour-info{text-align: center !important;}
	.ulockd-ohour-info .ulockd-icon{display: table;float: none !important;margin: 0 auto;}
	.ulockd-ohour-info.style2 {padding-bottom: 10px;padding-top: 10px;}
	.ulockd-welcm-hmddl{margin-bottom: 30px;margin-top: 20px;}
	/* home slider start */
	/* home slider end */
	/* home slider 2 start */
	.ulockd-main-slider2 .ulockd-slider-text1{font-size: 30px;line-height: 30px;}
	.ulockd-main-slider2 .ulockd-slider-text2{font-size: 32px;line-height: 32px;}
	.ulockd-main-slider2 .owl-prev, .ulockd-main-slider2 .owl-next {display: none !important;}
	.ulockd-main-slider2 .ulockd-slider-text3 p{font-size: 14px;line-height: 16px;margin-top: 0;}
	/* home slider end */
	.ulockd-srvc-column, .ulockd-srvc-column.text-right {text-align: center;}
	.ulockd-fservice-box{margin-bottom: 55px;}
	.ulockd-tm-details {bottom: 0; padding: 20px; width: 100%;}
	.ulockd-tm-details::before{ display: none;}
	.ulockd-ap-srvc-column .ulockd-ap-srv-icon {left: 25px;}
	.ulockd-ap-srv-cntnt-details{padding-left: 100px;}
	.ulockd-welcm-hmddl{text-align: center;}
	.ulockd-footer::before{width: 100%;}
    .masonry-gallery.grid-four-item .isotope-item{width: 100%;}
    .ulockd-error{font-size: 48px;}
    .ulockd-csoon{font-size: 36px;}
    .ulockd-gallery-thumb.style2 .overlayer .ulockd-overlayer {top: 40%}
	.ulockd-ffact-two {margin-bottom: 30px;}
	.ulockd-ffact-two::before,.ulockd-ffact-two::after {background-color: transparent;}
	.ulockd-team-two-mdetails {bottom: 0;}
}
@media only screen and (max-width:630px){
	/* Main Slider Start*/
	.ulockd-home-btn{display: none;}
	/* Main Slider End*/
	/* Main Slider 2 Start*/
	.ulockd-main-slider2 .caption{padding:10% 6%;}
	/* Main Slider End*/
    .ulockd-gallery-thumb.style2 .overlayer .ulockd-overlayer {top: 43%}
    .ulockd-booking-form {padding: 50px 20px;}
    .team-details {padding: 10px 10px 15px;}
    .team-icon a {display: flex;}
    .ulockd-footer-qlink {margin-bottom: 50px;}
    .ulockd-footer-fst-col {margin-bottom: 25px;}
}
/* (min-width:361px) (max-width:520px) */
@media only screen and (max-width:520px){
	/* ExTra Class */
	.col-xxs-12 {width: 100% !important;}
	.flip-container {margin-bottom: 50px;}
    .team-icon a {display: inline;}
    .banner-style-one .banner-title{font-size: 60px;}
}
/* (min-width:361px) (max-width:479px) */
@media only screen and (max-width:479px){
	/* Main Slider Start*/
	.ulockd-home-btn{display: none;}
	/* Main Slider End*/
	/* Main Slider Start*/
	.ulockd-main-slider2 .ulockd-slider-text3 {margin-top: 0;}
	.ulockd-main-slider2 .ulockd-slider-text2{font-size: 23px;line-height: 30px;}
	/* Main Slider End*/
    .ulockd-gallery-thumb.style2 .overlayer .ulockd-overlayer {top: 45%}
    .posted-date {width: 40%;}
	.ulockd-recent-project1 .overlay {padding-top: 20%;}
	
}
@media only screen and (max-width:400px){
	/* Main Slider Start*/
	/* Main Slider End*/
	/* Main Slider Start*/
	.ulockd-main-slider2 .caption{padding: 13% 5%;}
	.ulockd-main-slider2 .ulockd-slider-text1{font-size: 24px;}
	.ulockd-main-slider2 .ulockd-slider-text2{font-size: 20px;}
	.ulockd-main-slider2 .ulockd-slider-text3 p{display: none;}
	/* Main Slider End*/
    .ulockd-gallery-thumb.style2 .overlayer .ulockd-overlayer {top: 50%}
    .posted-date {width: 50%;}
}
/* (min-width:321px) (max-width:360px) */
@media only screen and (max-width:360px){
	.ulockd-dvidr-btn-l2 a {margin-top: 30px;}
    .hidden-xxs {display: none; !important;}
	.cd-hero-slider .cd-full-width,
	.cd-hero-slider .cd-half-width {
	  padding-top: 50px;
	}
	.cd-hero-slider h2 {font-size: 20px;}

}
@media only screen and (max-width:320px){
	.ulockd-overlayer-l2{top: 76%;}
	.flip-container .flipper .back {padding: 45px 13px;}

}